In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "data/data.csv"

# Read Purchasing File and store into Pandas data frame
data = pd.read_csv(file)

data.head()

,case_no,number_killed,number_injured,location,state,shooter_last_name,shooter_first_name,full_date,day_of_week,day,...,race,education,relationship_status,specify_relationship_to_other_shootings,total_weapons_brought_to_the_scene,crime_violence_confact_pct,trauma_crisis_confact_pct,mental_health_confact_pct,motivation_confact_pct,social_contagion_confact_pct
0,2,4,0,Workplace,New York,White,Joseph,9/23/1970,Wednesday,23,...,White,Graduate School/Degree,Single,NaN,1,0.00%,37.50%,25.00%,26.67%,28.57%
1,3,4,1,Other,Pennsylvania,Belmonte,Victor,7/21/1980,Monday,21,...,White,College/Trade School,Single,NaN,1,0.00%,37.50%,12.50%,6.67%,14.29%
2,4,4,1,Retail,Pennsylvania,O'Brien Smith,Timothy,1/28/2018,Sunday,28,...,White,College/Trade School,Single,NaN,3,14.29%,25.00%,12.50%,13.33%,28.57%
3,5,4,17,Other,Pennsylvania,Lambright,Donald,4/5/1969,Saturday,5,...,Black,College/Trade School,Married,NaN,3,0.00%,50.00%,25.00%,26.67%,14.29%
4,6,32,26,College/University,Virginia,Cho,Seung-Hui,4/16/2007,Monday,16,...,Asian,College/Trade School,Single,He referenced Columbine and did the shooting i...,2,28.57%,37.50%,100.00%,13.33%,100.00%

In [2]:
data.columns

Index(['case_no', 'number_killed', 'number_injured', 'location', 'state',
       'shooter_last_name', 'shooter_first_name', 'full_date', 'day_of_week',
       'day', 'month', 'year', 'zip_code', 'latitude', 'longitude', 'city',
       'region', 'urbansuburbanrural', 'victims_known_or_unknown', 'age',
       'gender', 'race', 'education', 'relationship_status',
       'specify_relationship_to_other_shootings',
       'total_weapons_brought_to_the_scene', 'crime_violence_confact_pct',
       'trauma_crisis_confact_pct', 'mental_health_confact_pct',
       'motivation_confact_pct', 'social_contagion_confact_pct'],
      dtype='object')

In [3]:

data_df = pd.DataFrame({'Date':data['full_date'], 'City':data['city'], 'State': data['state'], 'Location':data['location'],'Gender': data['gender'],
                       'Age':data['age'], 'Killed':data['number_killed'], 'Weapons':data['total_weapons_brought_to_the_scene'], 'Crime/Violence Factor':data['crime_violence_confact_pct'],
                        'Trauma/Crisis Factor':data['trauma_crisis_confact_pct'], 'Mental Health Factor':data['mental_health_confact_pct'],
                        'Motivation Factor':data['motivation_confact_pct'], 'Social Factor':data['social_contagion_confact_pct']})



data2=data_df.sort_values(["Killed"],ascending=False)

data2=data2.reset_index(drop=True,inplace=False)

data2.head()

,Date,City,State,Location,Gender,Age,Killed,Weapons,Crime/Violence Factor,Trauma/Crisis Factor,Mental Health Factor,Motivation Factor,Social Factor
0,10/1/2017,Las Vegas,Nevada,Other,Male,64,58,24,28.57%,50.00%,62.50%,13.33%,14.29%
1,6/12/2016,Orlando,Florida,Restaurant/Bar/Nightclub,Male,29,49,2,71.43%,37.50%,37.50%,26.67%,71.43%
2,4/16/2007,Blacksburg,Virginia,College/University,Male,23,32,2,28.57%,37.50%,100.00%,13.33%,100.00%
3,12/14/2012,Newtown,Connecticut,K-12 school,Male,20,27,5,28.57%,37.50%,50.00%,13.33%,42.86%
4,11/5/2017,Sutherland Springs,Tennessee,House of Worship,Male,26,25,3,42.86%,25.00%,25.00%,13.33%,42.86%

In [4]:
#render dataframe as html
html = data2.to_html()

In [5]:
#write html to file
text_file = open("DataRaw.html", "w")
text_file.write(html)
text_file.close()